* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.nft {
  background-color: white;
  text-align: center;
}

.nft-heading {
  background-color: yellow;
  padding: 50px;
}
