* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.nft {
  padding-top: 35px;
  background-color: white;
  text-align: center;
  grid-column: 2;
}

.app-heading {
  color: #f5dc56;
  padding-top: 20px;
  position: absolute;
  left: 50px;
}

.nft-home-btn {
  padding-top: 20px;
  position: absolute;
  right: 50px;
}

.nft-heading {
  background-color: yellow;
  padding: 50px;
  margin-top: 20px;
  border-radius: 12px;
}

.nft-info {
  background-color: #d9d9d9;
  padding: 20px;
  border-radius: 12px;
  transition-duration: 4s;
}

.nft-info:hover {
  background-color: blue;
}

.nft-learn-btn {
  padding: 10px;
  border-radius: 12px;
}

.little-lady {
  border: 1px solid blue;
}

.next-btn {
  position: absolute;
  right: 50px;
  padding: 10px;
  border-radius: 12px;
}
